.ivu-btn-primary {
  border-color: #33bcee;
  background-color: #33bcee;

  &:hover {
    border-color: #2499c3;
    background-color: #2499c3;
  }

  &:focus {
    box-shadow: 0 0 0 2px rgba(51, 188, 238, 0.2);
  }
}

.ivu-page {
  .ivu-page-item:hover a {
    color: #2499c3;
  }

  .ivu-page-item-active a,
  .ivu-page-item-active:hover a {
    color: #2499c3;
  }

  .ivu-page-options-elevator {
    input {
      text-align: center;
    }

    input:hover {
      border-color: #2499c3;
    }

    input:focus {
      border-color: #2499c3;
      box-shadow: 0 0 0 2px rgba(51, 188, 238, 0.2);
    }
  }
}

.ivu-table {
  table {
    border-collapse: collapse;
  }

  th {
    font-weight: normal;
    border: 1px solid rgba(51, 188, 238, 0.35);
    background-color: rgba(51, 188, 238, 0.15);
  }

  td {
    height: 40px;
  }

  .ivu-table-header {
    th {
      height: 32px;
      padding-top: 0px;
      padding-bottom: 0px;
    }
  }
}

.ivu-table-wrapper > .ivu-spin-fix {
  background: none;
}
